/* 
    Blue: #1a6ac1
    Yellow: #fed74c
*/

* {
    margin: 0;
    padding: 0;
}

*::selection {
    background: #1a6ac1;
    color: #fff;
}

body {
    background: #ececec;
}

.link {
    color: #1a6ac1;
    text-decoration: none;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #ccc;
    padding: 5px;
}

::-webkit-scrollbar-thumb {
    background: #aaa; 
    border-radius: 5px;
    transition: 0.2s linear;
}

::-webkit-scrollbar-thumb:hover {
    background: #707070; 
}

/* EINDE SCROLLBAR */

/* HEADER */

.header {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0px 1px 3px #707070;
    width: 100%;
    z-index: 3;
    transition: 0.2s linear;
}

.header--top {
    padding: 20px;
}

.header__container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}

.header__brand {
    width: 100%;
}

.header__brand-link {
    color: #1a6ac1;
    text-decoration: none;
    display: block;
    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
}

.header__nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav {
    list-style: none;
    display: flex;
    align-items: flex-end;
}

.nav__link {
    padding: 15px;
    color: #707070;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    transition: 0.1s linear;
}

.nav__link:hover {
    color: #1a6ac1;
}

/* EINDE HEADER */
/* MAIN */

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 65px 0;
}

.block:nth-child(1) {
    height: 95vh;
    padding: 0;
}

.block:nth-child(even) {
    background: #fff;
}

.block__container {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    flex-direction: column;
}

.block__title {
    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px;
    color: #444;
}

.block__title-text {
    text-align: center;
}

.card {
    margin: 25px auto;
}

.card--gray {
    background: #999;
}

.card__title-text {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #555;
    margin: 10px auto;
    text-align: center;
}

.card__content {
    text-align: center;
}

.card__content-text {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 1.7em;
    color: #666;
}

.columns {
    display: flex;
    width: 100%;
}

.columns__col {
    width: 100%;
    text-align: center;
    padding: 5px;
}

.embed {
    width: 100%;
}
/* EINDE MAIN */

/* SLIDESHOW */

.slide {
    animation: fade 1s, fade-out 0.6s 1 3.5s;
    -webkit-animation: fade 1s, fade-out 0.6s 1 3.5s;
    width: 100%;
}

@keyframes fade {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fade-out {
    from {opacity: 1} 
    to {opacity: 0}
}

@-webkit-keyframes fade {
    from {opacity: 0} 
    to {opacity: 1}
}

@-webkit-keyframes fade-out {
    from {opacity: 1} 
    to {opacity: 0}
}

/* EINDE SLIDESHOW */

/* FOOTER */

.footer {
    background: #1a6ac1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__title-text--white, .card__content-text--white {
    color: #fff;
}

/* EINDE FOOTER */

/* RESPONSIVE */

@media (max-width: 860px) {
    .header {
        padding: 10px 0;
        /* position: relative; */
        background: #1a6ac1;
        box-shadow: none;
    }

    .header__container {
        width: 100%;
    }
    
    .header__nav {
        display: none;
    }

    .header__brand {
        width: 100%;
    }

    .header__brand-link {
        font-size: 12px;
        text-align: center;
        color: #fff;
    }

    .block:nth-child(1) {
        height: auto;
        padding: 25px 0;
    }

    .block__container {
        width: 95%;
    }
    
    .columns {
        flex-direction: column;
    }

    .columns__col {
        padding: 0;
    }
}